#about {
  height: 100vh;
  min-height: 80rem;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  .about-text-wrapper {
    display: flex;
    flex-direction: row;
    width: 80rem;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.5s ease-in-out;
    .profile {
      right: 0;
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 50%;
      transition: all 0.5s ease-in-out;
    }
    .about-text {
      background: $white;
      height: 100%;
      width: 50%;
      transition: all 0.5s ease-in-out;

      h1 {
        padding-left: 5rem;
        padding-right: 3rem;
        padding-top: 5rem;
        transition: all 0.5s ease-in-out;
      }
      ul {
        padding-right: 5rem;
        padding-left: 7rem;
        margin-top: 3rem;
        padding-bottom: 6rem;
        transition: all 0.5s ease-in-out;
        li,
        a {
          font-size: 1.4rem;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: $black;
          line-height: 2.5rem;
        }
        li {
          padding-top: 0rem;
          padding-left: 0.5rem;
          padding-bottom: 1.8rem;
          list-style-image: url(../img/list-style-bullets.png);
        }
        a:hover {
          color: $red;
        }
      }
    }
  }
}

// mobile

@media screen and (max-width: 725px) {
  #about {
    .about-text-wrapper {
      width: 96%;
      .about-text {
        width: 50%;
      }
      .profile {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  #about {
    justify-content: start;
    min-height: 130rem;
    .about-text-wrapper {
      flex-direction: column;
      align-items: center;
      width: auto;
      margin-top: 13rem;
      .profile {
        right: none;
        position: relative;
        max-height: 60rem;
        width: 45rem;
        margin-right: 0rem;
      }
      .about-text {
        width: 45rem;
        margin-left: 0rem;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #about {
    .about-text-wrapper {
      width: 94%;
      .profile {
        max-height: 60rem;
        width: 100%;
      }
      .about-text {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  #about {
    min-height: 120rem;
    .about-text-wrapper {
      .about-text {
        h1 {
          padding-left: 3rem;
          padding-right: 1rem;
          padding-top: 4rem;
          font-size: 2.5rem;
        }
        ul {
          padding-right: 2rem;
          padding-left: 5rem;
          margin-top: 2rem;
          padding-bottom: 5rem;
        }
      }
    }
  }
}
