#contact {
  height: 100vh;
  min-height: 90rem;
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .arrow {
    position: absolute;
    top: 45px;
    font-size: 3.6rem;
    color: $red;
  }
  #form {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-top: 16rem;
    .date-and-type {
      display: flex;
      #service-type {
        width: 50vw;
        #selected {
          color: $inactive;
        }
      }
      #date {
        width: 50vw;
      }
    }
    input,
    select,
    textarea {
      margin: 1rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      border: none;

      -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
    }

    /* The container must be positioned relative: */
    .custom-select {
      position: relative;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      width: 50vw;
      margin: 1rem;
      -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
    }

    .custom-select select {
      display: none; /*hide original SELECT element: */
    }

    .select-selected {
      background-color: $white;
    }

    /* Style the arrow inside the select element: */
    .select-selected:after {
      position: absolute;
      content: "";
      top: 16px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: $black transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent $black transparent;
      top: 9px;
    }

    /* style the items (options), including the selected item: */
    .select-items div,
    .select-selected {
      color: $black;
      padding: 12px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }

    /* Style items (options): */
    .select-items {
      position: absolute;
      background-color: $white;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }

    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }

    .select-items div:hover,
    .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
    textarea {
      padding: 1rem;
      resize: none;
    }
    input {
      padding: 0.5rem 1rem;
    }
    button {
      margin: auto;
      margin-top: 2rem;
      padding: 1.4rem 4rem;
      border-radius: 6px;
      -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 30px 30px rgba(0, 0, 0, 0.1);
    }
  }
  footer {
    .foot-wrap {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      border-top: solid 3px $black;
      align-items: center;
      justify-content: space-between;
      width: 48rem;
      height: 4rem;
      h2 {
        margin-right: 4rem;
        margin-top: 1rem;
        font-size: 12px;
        color: $black;
      }
      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        margin-top: 1.5rem;
        height: 5px;
        a {
          margin-left: 2rem;
          svg {
            fill: $black;
            transition: all 0.2s ease-in-out;
            &:hover {
              fill: $red;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  #contact {
    min-height: 80rem;
    #form {
      margin-top: 12rem;
    }
  }
}

@media screen and (max-width: 455px) {
  #contact {
    min-height: 80rem;
    background: #ecd5b6;
    footer {
      .foot-wrap {
        width: 96vw;
      }
    }
    #form {
      width: 100vw;
      margin-top: 12rem;
      .date-and-type {
        display: flex;
        #service-type {
          width: 50vw;
          -webkit-appearance: none;
          border: none;
          height: 4.5rem;
          background-color: white;
          #selected {
            color: $inactive;
          }
        }
        #date {
          width: 50vw;
          -webkit-appearance: none;
          border: none;
          height: 4.5rem;
          background-color: white;
          ::-webkit-calendar-picker-indicator {
            color: $black;
          }
          ::-webkit-input-placeholder {
            content: "DATE";
          }
        }
      }
    }
  }
}

@media screen and (min-width: 451px) {
  #contact {
    .arrow {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  #contact {
    background: rgb(241, 178, 173);
    background: linear-gradient(
      120deg,
      rgba(246, 196, 192, 1) 0%,
      rgba(241, 178, 173, 1) 50%,
      rgba(231, 169, 165, 1) 100%
    );
  }
}
