.contact {
  max-width: 125rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15rem;
  margin-top: 10rem;
  .contact-cont {
    width: 100%;
    margin-right: 4rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    .contact-info {
      border: black solid 2px;
      border-radius: 16px;
      height: 100%;
      margin-left: 3rem;
      width: 60%;
      .line-info {
        display: flex;
        flex-direction: row;
        margin-left: 4rem;
        margin-top: 5rem;
        align-items: center;
        p {
          margin-left: 2rem;
        }
      }
    }
    form {
      width: 35rem;
      //max-width: 60rem;
      height: 100%;
      //background: pink;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input,
      textarea {
        width: 100%;
        border: black solid 2px;
        border-radius: 8px;
        padding: 1.5rem 3rem;
        margin-bottom: 2rem;
        resize: none;
        font-family: "Work Sans", sans-serif;
      }
      textarea {
        height: 25rem;
        text-align: justify;
        line-height: 2.3rem;
      }
      .send-btn {
        background: black;
        color: white;
        font-family: "Work Sans", sans-serif;
        font-weight: 500;
        width: 100%;
        &:hover {
          background: #df050a;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .contact {
    .contact-cont {
      margin-right: 2rem;
      justify-content: space-between;
      .contact-info {
        width: 50%;
      }
      form {
        width: 50%;
      }
    }
    .contact-pic {
      display: none;
    }
  }
}

@media screen and (max-width: 685px) {
  .contact {
    flex-direction: column-reverse;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    .contact-cont {
      flex-direction: column-reverse;
      align-items: center;
      margin: 0rem;
      .contact-info {
        width: 100%;
        margin: 0rem;
        padding-bottom: 5rem;
      }
      form {
        width: 100%;
        margin: 0rem;
        margin-top: 3rem;
      }
    }
    .contact-pic {
      display: flex;
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}

@media screen and (max-width: 330px) {
  .contact {
    .contact-cont {
      .contact-info {
        .line-info {
          margin-left: 1.5rem;
        }
      }
    }
  }
}
