* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}

// CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.199);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.349);
  //border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.671);
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/*
Light 300
Light 300 italic
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
*/
p,
h1,
a,
li {
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

.side-pic {
  width: 33rem;
  margin-right: 2rem;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.btn {
  padding: 2rem 3rem;
  border: black solid 2px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  font-size: 1.6rem;
  &:hover {
    background: black;
    color: white;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
