header {
  max-width: 125rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
  min-height: 7rem;
  transition: all 0.2s ease-in-out;
  align-items: flex-end;
  //background-color: pink;
  .logo {
    margin-left: 2rem;
  }
  nav {
    .desk-menu {
      min-width: 42rem;
      margin-right: 2rem;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      justify-content: space-between;
      li {
        .active {
          opacity: 100%;
        }
        a {
          opacity: 50%;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            opacity: 100%;
          }
        }
        .portfolio-btn {
          opacity: 100%;
          padding: 2rem 3rem;
          border: black solid 2px;
          border-radius: 8px;
          font-weight: 500;
          transition: all 0.1s ease-in-out;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
  .mob-menu-btn {
    background: white;
    border: none;
    color: black;
    font-size: 3.2rem;
    margin-right: 2rem;
    display: none;
  }
}

.mobile-menu {
  width: auto;
  margin-right: 2rem;
  margin-left: 2rem;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  ul {
    width: 100%;
    a {
      width: 100%;
    }
    .mob-link-cont {
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 1rem;
      border-radius: 8px;
      border: black solid 2px;
      transition: all 0.1s ease-in-out;
      &:hover {
        background: rgba(0, 0, 0, 0.123);
      }
      li {
        font-size: 1.6rem;
      }
    }
    .mob-link-cont.active {
      background: black;
      li {
        color: white;
      }
    }
  }

  display: none;
}

@media screen and (max-width: 670px) {
  header {
    .mob-menu-btn {
      transition: all 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
        color: #df050a;
      }
      display: block;
    }
  }
}

@media screen and (max-width: 670px) {
  header {
    .desktop-menu {
      display: none;
    }
  }
}
