.hero {
  max-width: 125rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
  min-height: 65rem;
  transition: all 0.2s ease-in-out;
  margin-top: 0rem;
  //background: pink;
  .hero-pic {
    height: 55rem;
  }
  .hero-cont {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .hero-text {
      //margin-top: 10rem;
      max-width: 50rem;
      h1 {
        font-weight: 600;
        letter-spacing: 3px;
        line-height: 3.6rem;
        font-size: 2.6rem;
      }
      p {
        margin-top: 6rem;
      }
      .hero-text-links {
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
      .btns {
        margin-top: 14rem;
        .contact-btn {
          background: black;
          color: white;
          margin-right: 3rem;
          &:hover {
            background: #df050a;
            color: black;
          }
        }
      }
    }
  }
}

.hero-links {
  //align-self: center;
  margin-right: 10rem;
  margin-left: 4rem;
  .links {
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    border-radius: 8px;
    padding: 2rem 1rem;
    position: relative;
    a {
      margin: 1.5rem;
      svg {
        transition: all 0.2s ease-in-out;
        &:hover {
          fill: #df050a;
        }
      }
    }
    .red-stroke {
      position: absolute;
      top: -20px;
      left: -18px;
      z-index: -10;
    }
  }
}

@media screen and (min-width: 740px) {
  .links-mob {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .links-desk {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .hero {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    margin-top: 10rem;
    .hero-cont {
      width: auto;
      margin-right: 2rem;
      .hero-text {
        margin-top: 5rem;
        margin-bottom: 10rem;
      }
    }
    .mob-cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .links-mob {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 520px) {
  .links-mob {
    margin-right: 4rem;
  }
  #hero-pic {
    width: 30rem;
  }
}

@media screen and (max-width: 445px) {
  .links-mob {
    .links {
      padding: 1.5rem 0.5rem;
      .red-stroke {
        left: -24px;
      }
      a {
        svg {
          width: 2.4rem;
        }
      }
    }
  }
  #hero-pic {
    width: 20rem;
  }

  .hero {
    .hero-pic {
      height: 35rem;
    }
    .hero-cont {
      .hero-text {
        margin-top: 4rem;
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1.6rem;
          margin-top: 2rem;
        }
        .btns {
          margin-top: 6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .hero {
    .hero-cont {
      .hero-text {
        .btns {
          .portfolio-btn {
            display: none;
          }
        }
      }
    }
  }
}
