#portfolio {
  display: flex;
  flex-direction: row;
  .make-up {
    background: url(../img/portfolio-makeup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    min-height: 60rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      margin-right: 5rem;
      padding: 2.5rem 4rem;
      border: 3px solid $white;
      transform: translateY(60%);
      &:hover {
        border: 3px solid $black;
      }
    }
  }
  .styling {
    background: url(../img/portfolio-styling.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    min-height: 60rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button {
      margin-left: 5rem;
      padding: 2.5rem 4rem;
      border: 3px solid $white;
      transform: translateY(60%);
      &:hover {
        border: 3px solid $black;
      }
    }
  }
}

@media screen and (min-width: 470px) {
  .make-up-mobile {
    display: none;
  }
  .styling-mobile {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  #portfolio {
    .make-up {
      display: none;
      background: none;
    }
    .styling {
      display: none;
      background: none;
    }
  }
}

@media screen and (max-width: 470px) {
  #portfolio {
    // background: #e9caaf;
    background: url(../img/portfolio-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    min-height: 72rem;
    .make-up-mobile,
    .styling-mobile {
      text-align: center;
      background: $black;
      margin-top: 13rem;
      margin-left: 1rem;
      margin-right: 1rem;
      height: 26rem;
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      h1 {
        color: $white;
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
      }
      .img-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .img-1,
        .img-2,
        .more {
          width: 110px;
          height: 110px;
        }
        .img-1 {
          background: url(../img/make-up-icon-pic-1.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
        .img-2 {
          background: url(../img/make-up-icon-pic-2.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
        .more {
          background: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          svg:hover {
            fill: $red;
          }
        }
      }
    }
    .styling-mobile {
      margin-top: 4rem;
      .img-wrap {
        .img-1 {
          background: url(../img/styling-icon-pic-1.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
        .img-2 {
          background: url(../img/styling-icon-pic-2.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
      }
    }
  }
}

@media screen and (max-width: 405px) {
  #portfolio {
    .make-up-mobile,
    .styling-mobile {
      .img-wrap {
        .img-1,
        .img-2,
        .more {
          width: 90px;
          height: 110px;
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  #portfolio {
    .make-up-mobile,
    .styling-mobile {
      .img-wrap {
        .img-1,
        .img-2,
        .more {
          width: 80px;
          height: 110px;
        }
      }
    }
  }
}
