.portfolio-head {
  background: white;
  display: flex;
  flex-direction: row;
  height: 10vh;
  min-height: 9rem;
  width: auto;
  align-items: center;
  position: fixed;
  top: 0px;
  //left: 50%;
  //transform: translateX(-50%);
  a {
    margin-left: 10rem;
    svg {
      fill: black;
      transform: rotate(180deg);
      transition: all 0.2s ease-in-out;
      &:hover {
        fill: #df050a;
      }
    }
  }
  h1 {
    font-size: 2rem;
    color: black;
    font-family: "Work Sans", sans-serif;
    width: 100vw;
    text-align: center;
    margin-right: 6rem;
    font-weight: 600;
  }
}

.pics-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
}
.pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5rem;
  max-width: 159rem;
  .pic {
    height: 530px;
    width: 355px;
    object-fit: cover;
    object-position: top;
  }
  .img-container {
    &:hover {
      cursor: pointer;
    }
    .description {
      color: white;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      padding-top: 20px;
      margin-top: 12px;
      padding-bottom: 20px;
      background: #302f2f;
    }
  }
}

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b1b1bc4;
  .exit {
    font-size: 3rem;
    background: none;
    margin-left: 2rem;
    margin-top: 7rem;
    align-self: flex-start;
    &:hover {
      color: #df050a;
    }
  }
  .img-cont {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .pic {
      height: 85%;
      object-fit: cover;
      object-position: top;
    }
    .description {
      color: white;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      padding-top: 20px;
      margin-top: 12px;
      padding-bottom: 20px;
      background: #302f2f;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1230px) {
  .pics {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 810px) {
  .portfolio-head {
    a {
      margin-left: 2rem;
      padding-right: 2rem;
    }
    h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
  .pics {
    grid-template-columns: 1fr;
    gap: 2rem;
    .pic {
      width: 95vw;
      height: 80vh;
      min-height: 60rem;
    }
    .img-container {
      &:hover {
        cursor: initial;
      }
      .description {
        margin-bottom: 24px;
      }
    }
  }
}
