#prices {
  height: 100vh;
  min-height: 95rem;
  background-image: url(../img/prices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .arrow {
    position: absolute;
    top: 45px;
    font-size: 3.6rem;
    color: $red;
  }
  .makeup-title {
    margin-top: 7rem;
    width: 45rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    background: $white;
    font-weight: 700;
    font-size: 2rem;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
  }
  .price-list-wrap {
    background: $white;
    margin-top: 2rem;
    width: 45rem;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
      0px 30px 30px rgba(0, 0, 0, 0.1);
    .price-list {
      margin-top: 2.3rem;
      .break-line {
        width: 30rem;
        height: 2px;
        background: rgba(0, 0, 0, 0.199);
      }
      .papildomi {
        display: flex;
        flex-direction: column;
        ul {
          margin-top: 1rem;
          li {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 1.2rem;
          }
        }
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.7rem;
        p {
          font-family: "Josefin Sans", sans-serif;
          margin-left: 2rem;
          font-weight: 700;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 451px) {
  #prices {
    .arrow {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  #prices {
    background: rgb(241, 178, 173);
    background: linear-gradient(
      120deg,
      rgba(246, 196, 192, 1) 0%,
      rgba(241, 178, 173, 1) 50%,
      rgba(231, 169, 165, 1) 100%
    );
  }
}

@media screen and (max-width: 415px) {
  #prices {
    .makeup-title {
      width: 95%;
    }
    .price-list-wrap {
      width: 95%;
    }
  }
}
