.thank-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  button {
    padding: 2.5rem 4rem;
    background: $white;
    color: $black;
    &:hover {
      background: $red;
    }
  }
}
.thank-you {
  color: $white;
  font-size: 2rem;
  transform: translateY(-100%);
  text-align: center;
  margin: 3rem;
  line-height: 3rem;
}
