* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.301);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.671);
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/*
Light 300
Light 300 italic
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
*/
p,
h1,
a,
li {
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

.side-pic {
  width: 33rem;
  height: auto;
  margin-right: 2rem;
  border-radius: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.btn {
  padding: 2rem 3rem;
  border: black solid 2px;
  border-radius: 8px;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1.6rem;
}

.btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

header {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
  min-height: 7rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .logo {
  margin-left: 2rem;
}

header nav .desk-menu {
  min-width: 42rem;
  margin-right: 2rem;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .desk-menu li .active {
  opacity: 100%;
}

header nav .desk-menu li a {
  opacity: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

header nav .desk-menu li a:hover {
  opacity: 100%;
}

header nav .desk-menu li .portfolio-btn {
  opacity: 100%;
  padding: 2rem 3rem;
  border: black solid 2px;
  border-radius: 8px;
  font-weight: 500;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

header nav .desk-menu li .portfolio-btn:hover {
  background: black;
  color: white;
}

header .mob-menu-btn {
  background: white;
  border: none;
  color: black;
  font-size: 3.2rem;
  margin-right: 2rem;
  display: none;
}

.mobile-menu {
  width: auto;
  margin-right: 2rem;
  margin-left: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 3rem;
  display: none;
}

.mobile-menu ul {
  width: 100%;
}

.mobile-menu ul a {
  width: 100%;
}

.mobile-menu ul .mob-link-cont {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: black solid 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.mobile-menu ul .mob-link-cont:hover {
  background: rgba(0, 0, 0, 0.123);
}

.mobile-menu ul .mob-link-cont li {
  font-size: 1.6rem;
}

.mobile-menu ul .mob-link-cont.active {
  background: black;
}

.mobile-menu ul .mob-link-cont.active li {
  color: white;
}

@media screen and (max-width: 670px) {
  header .mob-menu-btn {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: block;
  }
  header .mob-menu-btn:hover {
    cursor: pointer;
    color: #df050a;
  }
}

@media screen and (max-width: 670px) {
  header .desktop-menu {
    display: none;
  }
}

.hero {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
  min-height: 65rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 0rem;
}

.hero .s2 {
  max-width: 33rem;
  margin-right: 2rem;
}

.hero .swiper-pagination-bullet {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.363);
}

.hero .swiper-pagination-bullet-active {
  background-color: #df050a;
}

.hero .hero-pic {
  height: 55rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero .hero-cont {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.hero .hero-cont .hero-text {
  max-width: 50rem;
}

.hero .hero-cont .hero-text h1 {
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 3.6rem;
  font-size: 2.6rem;
}

.hero .hero-cont .hero-text p {
  margin-top: 6rem;
}

.hero .hero-cont .hero-text .hero-text-links {
  font-weight: 600;
}

.hero .hero-cont .hero-text .hero-text-links:hover {
  text-decoration: underline;
}

.hero .hero-cont .hero-text .btns {
  margin-top: 14rem;
}

.hero .hero-cont .hero-text .btns .contact-btn {
  background: black;
  color: white;
  margin-right: 3rem;
}

.hero .hero-cont .hero-text .btns .contact-btn:hover {
  background: #df050a;
  color: black;
}

.hero-links {
  margin-right: 10rem;
  margin-left: 4rem;
}

.hero-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: black solid 2px;
  border-radius: 8px;
  padding: 2rem 1rem;
  position: relative;
}

.hero-links .links a {
  margin: 1.5rem;
}

.hero-links .links a svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-links .links a svg:hover {
  fill: #df050a;
}

.hero-links .links .red-stroke {
  position: absolute;
  top: -20px;
  left: -18px;
  z-index: -10;
}

@media screen and (min-width: 740px) {
  .links-mob {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .links-desk {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    margin-top: 10rem;
  }
  .hero .hero-cont {
    width: auto;
    margin-right: 2rem;
  }
  .hero .hero-cont .hero-text {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  .hero .mob-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .links-mob {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 520px) {
  .links-mob {
    margin-right: 4rem;
  }
  #hero-pic {
    width: 30rem;
  }
}

@media screen and (max-width: 445px) {
  .links-mob .links {
    padding: 1.5rem 0.5rem;
  }
  .links-mob .links .red-stroke {
    left: -24px;
  }
  .links-mob .links a svg {
    width: 2.4rem;
  }
  #hero-pic {
    width: 20rem;
  }
  .hero .hero-pic {
    height: 35rem;
  }
  .hero .hero-cont .hero-text {
    margin-top: 4rem;
  }
  .hero .hero-cont .hero-text h1 {
    font-size: 2rem;
  }
  .hero .hero-cont .hero-text p {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .hero .hero-cont .hero-text .btns {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 340px) {
  .hero .hero-cont .hero-text .btns .portfolio-btn {
    display: none;
  }
}

.swiper-container {
  width: auto;
  height: auto;
}

.reviews {
  max-width: 125rem;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
}

.reviews .cards-cont {
  margin-right: 2rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.reviews .cards-cont .rev-card2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.reviews .cards-cont .rev-card {
  border: black solid 2px;
  border-radius: 16px;
  width: 36rem;
  min-height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.reviews .cards-cont .rev-card .auth-cont {
  margin-top: 3rem;
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews .cards-cont .rev-card .auth-cont .auth-pic {
  border-radius: 90rem;
  max-height: 70px;
}

.reviews .cards-cont .rev-card .auth-cont .rate-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.reviews .cards-cont .rev-card .auth-cont .rate-cont h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  padding-right: 1rem;
}

.reviews .cards-cont .rev-card .auth-cont .rate-cont .stars {
  width: 12rem;
}

.reviews .cards-cont .rev-card p {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.reviews .all-revs {
  font-size: 1.4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews .all-revs:hover {
  color: #df050a;
}

@media screen and (max-width: 930px) {
  .reviews .cards-cont .rev-card3 {
    display: none;
  }
  .reviews .cards-cont .rev-card2 {
    margin-right: 0rem;
  }
  .reviews .cards-cont .rev-card {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .reviews .cards-cont .rev-card3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reviews .cards-cont .rev-card {
    width: 36rem;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 388px) {
  .reviews .cards-cont .rev-card {
    min-height: 50rem;
  }
}

@media screen and (max-width: 324px) {
  .reviews .cards-cont .rev-card {
    min-height: 55rem;
  }
}

.about {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5rem;
  padding-top: 3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about .about-pic {
  max-height: 80rem;
}

.about .about-cont {
  width: 100%;
  margin-right: 4rem;
  margin-left: 2rem;
  border: black solid 2px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .about-cont #profile-pic {
  width: 33rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px 0px 0px 12px;
}

.about .about-cont .about-text-cont {
  margin-left: 5rem;
  margin-top: 5rem;
}

.about .about-cont .about-text-cont h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.about .about-cont .about-text-cont ul {
  padding-right: 10rem;
  padding-left: 2rem;
  margin-top: 5rem;
  padding-bottom: 6rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about .about-cont .about-text-cont ul li,
.about .about-cont .about-text-cont ul a {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.about .about-cont .about-text-cont ul li {
  padding-top: 0rem;
  padding-left: 0.5rem;
  padding-bottom: 2.4rem;
  list-style-image: url(../img/list-style-bullets.png);
}

.about .about-cont .about-text-cont ul a:hover {
  color: #df050a;
}

@media screen and (max-width: 1115px) {
  .about .about-cont {
    margin-right: 2rem;
  }
  .about .about-pic {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .about .about-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .about .about-cont #profile-pic {
    width: 100%;
    border-radius: 16px;
  }
  .about .about-cont .about-text-cont {
    border: black solid 2px;
    border-radius: 16px;
    margin-left: 0rem;
  }
  .about .about-cont .about-text-cont h1 {
    margin-top: 5rem;
    margin-left: 3rem;
  }
  .about .about-cont .about-text-cont ul {
    padding-right: 2rem;
    margin-left: 3rem;
  }
  .about .about-cont .about-text-cont ul li,
  .about .about-cont .about-text-cont ul a {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.prices {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.prices .prices-cont {
  width: 100%;
  margin-right: 4rem;
  margin-left: 2rem;
  border: black solid 2px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.prices .prices-cont #bottom-price {
  border-bottom: none;
}

.prices .prices-cont .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4rem;
  margin-left: 4rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: rgba(0, 0, 0, 0.144) solid 2px;
}

.prices .prices-cont .price .price-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices .prices-cont .price .price-name .price-icon {
  max-height: 2rem;
  margin-right: 1.2rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

@media screen and (max-width: 710px) {
  .prices .prices-cont {
    margin-right: 2rem;
  }
  .prices .prices-pic {
    display: none;
  }
}

.contact {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 15rem;
  padding-top: 5rem;
}

.contact .contact-cont {
  width: 100%;
  margin-right: 4rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .contact-cont .contact-info {
  border: black solid 2px;
  border-radius: 16px;
  height: 100%;
  margin-left: 3rem;
  width: 60%;
}

.contact .contact-cont .contact-info .line-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 4rem;
  margin-top: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-cont .contact-info .line-info p {
  margin-left: 2rem;
}

.contact .contact-cont form {
  width: 35rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-cont form input,
.contact .contact-cont form textarea {
  width: 100%;
  border: black solid 2px;
  border-radius: 8px;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  resize: none;
  font-family: "Work Sans", sans-serif;
}

.contact .contact-cont form textarea {
  height: 25rem;
  text-align: justify;
  line-height: 2.3rem;
}

.contact .contact-cont form .send-btn {
  background: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  width: 100%;
}

.contact .contact-cont form .send-btn:hover {
  background: #df050a;
}

@media screen and (max-width: 1120px) {
  .contact .contact-cont {
    margin-right: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .contact-cont .contact-info {
    width: 50%;
  }
  .contact .contact-cont form {
    width: 50%;
  }
  .contact .contact-pic {
    display: none;
  }
}

@media screen and (max-width: 685px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .contact .contact-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0rem;
    padding-top: 3rem;
  }
  .contact .contact-cont .contact-info {
    width: 100%;
    margin: 0rem;
    padding-bottom: 5rem;
  }
  .contact .contact-cont form {
    width: 100%;
    margin: 0rem;
    padding-top: 3rem;
  }
  .contact .contact-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 330px) {
  .contact .contact-cont .contact-info .line-info {
    margin-left: 1.5rem;
  }
}

footer {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 10rem;
}

footer .footer-cont {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-cont #labasauskas {
  padding: 1.5rem 2.5rem;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

footer .footer-cont #labasauskas:hover {
  background: rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.thank-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: black;
}

.thank-wrap button {
  padding: 2.5rem 4rem;
  background: white;
  color: black;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 8px;
}

.thank-wrap button:hover {
  background: #df050a;
  cursor: pointer;
}

.thank-you {
  color: white;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  text-align: center;
  margin: 3rem;
  line-height: 3rem;
}

.pics-wrap {
  max-width: 125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.pics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5rem;
  max-width: 159rem;
}

.pics .pic {
  height: 530px;
  width: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 8px;
}

.pics .img-container {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pics .img-container:hover {
  cursor: pointer;
}

.pics .img-container:hover .description {
  background: #df050a;
}

.pics .img-container .description {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  background: black;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
}

.full-screen .exit {
  font-size: 2.4rem;
  background: none;
  margin-left: 2rem;
  margin-top: 7rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
  border: none;
}

.full-screen .exit:hover {
  color: #df050a;
  cursor: pointer;
}

.full-screen .img-cont {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.full-screen .img-cont .pic {
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 8px;
}

.full-screen .img-cont .description {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  background: black;
  border: white solid 2px;
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 1230px) {
  .pics {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 810px) {
  .portfolio-head a {
    margin-left: 2rem;
    padding-right: 2rem;
  }
  .portfolio-head h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .pics {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
  }
  .pics .pic {
    width: 95vw;
    height: 80vh;
    min-height: 60rem;
  }
  .pics .img-container:hover {
    cursor: initial;
  }
  .pics .img-container:hover .description {
    background: black;
  }
  .pics .img-container .description {
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=style.css.map */