/* FONT SIZES */

$h1-titles: 3rem;
$h2-buttons-menu: 1.8rem;
$p-text: 1.6rem;

/* COLORS */

$white: white;
$black: black;
$red: #df050a;
$inactive: rgb(151, 151, 151);

/* IMPORTS */

@import "global";
@import "header";
@import "home";
@import "portfolio";
@import "about";
@import "prices";
@import "contact";
@import "portfolio_page";
@import "thank_you";

/* MOBILE */
