/* FONT SIZES */
/* COLORS */
/* IMPORTS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.089);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.349);
  border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.671);
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/*
font-family: 'Josefin Sans', sans-serif;
Regular 400
Semi-bold 600
Bold 700

font-family: 'Montserrat', sans-serif;
Medium 500
*/
h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: black;
  letter-spacing: 0.2rem;
  line-height: 5rem;
}

h2,
a,
button {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

p,
input,
select {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  line-height: 3rem;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  background: black;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: black;
  background: #df050a;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}

.main-head {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
}

.main-head .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-head nav {
  height: 8.5vh;
  min-height: 7rem;
  max-width: 159rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-head nav .portfolio-button {
  color: black;
  background: none;
  font-weight: 400;
  border: solid black 3px;
  padding: 0.9rem 1.8rem 0.7rem 1.8rem;
  margin-right: 3rem;
  border-radius: 6px;
  font-size: 1.6rem;
}

.main-head nav .portfolio-button:hover {
  background: #df050a;
}

.main-head nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 2rem;
}

.main-head nav .nav .active {
  color: black;
}

.main-head nav .nav a {
  padding: 0.8rem 1.2rem;
  color: #979797;
  font-weight: 700;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-head nav .nav a:hover {
  color: black;
}

.main-head nav .nav a:focus {
  color: black;
}

.main-head nav .nav li {
  margin-left: 1rem;
}

.main-head nav .break-line {
  background: black;
  width: 3px;
  height: 30px;
}

.main-head nav .logo {
  margin-left: 6rem;
  height: 2rem;
}

.main-head nav .language {
  margin-right: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
}

.main-head nav .language li {
  margin-left: 2rem;
}

.main-head nav .language li a img {
  width: 2rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-head nav .language li .inactive {
  opacity: 0.4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-head nav .language li .inactive:hover {
  opacity: 1;
}

@media screen and (max-width: 1380px) {
  .main-head nav .nav {
    margin-right: 1.5rem;
  }
  .main-head nav .nav li {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 910px) {
  .mobile-head {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  nav .desktop-menu .nav,
  nav .desktop-menu .language,
  nav .desktop-menu .break-line,
  nav .desktop-menu .portfolio-button {
    display: none;
  }
  .main-head {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .main-head nav .logo {
    display: inline-block;
    position: fixed;
    z-index: 100;
    right: 0px;
    top: 30px;
    width: 90px;
    height: 60px;
    border: none;
    padding-left: 14px;
    padding-right: 10px;
    background: white;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
    line-height: 0.6;
    text-align: center;
    border-left: solid 3px black;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
  }
  .mobile-head .break-line {
    width: 40px;
    height: 2px;
    background: black;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-left: 30px;
  }
  .mobile-head .language {
    padding-left: 30px;
    padding-top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  .mobile-head .language li {
    margin-right: 20px;
  }
  .mobile-head .language li a img {
    width: 25px;
    height: 20px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-head .language li .inactive {
    opacity: 0.4;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile-head .language li .inactive:hover {
    opacity: 1;
  }
  .mobile-head .language .inactive {
    color: #979797;
  }
  .mobile-head .header {
    display: block;
    margin: 30px auto;
    width: 60px;
    max-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: white;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 100;
    border-right: solid 3px black;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  }
  .mobile-head #sidebarMenu {
    z-index: 100;
    height: 450px;
    position: fixed;
    left: 0;
    width: 230px;
    margin-top: 110px;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    background: white;
    border-right: solid 3px black;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  }
  .mobile-head #sidebarMenu #portfolio-button-mobile {
    color: black;
    padding-bottom: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile-head #sidebarMenu #portfolio-button-mobile:hover {
    color: #df050a;
  }
  .mobile-head .sidebarMenuInner {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-head .sidebarMenuInner li {
    list-style: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 30px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-head .sidebarMenuInner li a {
    color: #979797;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mobile-head .sidebarMenuInner li a:hover {
    color: black;
  }
  .mobile-head .sidebarMenuInner li a:active {
    color: black;
    -webkit-transition-delay: 3s;
            transition-delay: 3s;
  }
  .mobile-head input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-head input[type="checkbox"] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .mobile-head .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 52px;
    left: 15px;
    height: 22px;
    width: 22px;
  }
  .mobile-head .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
  }
  .mobile-head .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .mobile-head .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .mobile-head .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .mobile-head input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  .mobile-head input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  .mobile-head input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }
  .mobile-head .sidebarMenuInner li a.active {
    color: black;
  }
}

#home {
  height: 100vh;
  min-height: 70rem;
  background-image: url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .hero {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  background: white;
  height: 55vh;
  width: 45rem;
  min-height: 50rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .hero h1 {
  text-align: center;
  margin-top: 5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .hero img {
  width: 30%;
  margin: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .hero p {
  text-align: center;
  padding: 1rem 6rem;
  margin: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .hero .hero-links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#home .hero .hero-links button {
  margin-bottom: 4.5rem;
  padding: 1.7rem 2rem;
  border-radius: 6px;
  margin-right: 1rem;
}

#home .hero .hero-links #portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 18px;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

#home .hero .hero-links #portfolio-link svg {
  height: 15px;
  margin-top: 0px;
  margin-left: 6px;
  fill: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#home .hero .hero-links #portfolio-link:hover {
  color: #df050a;
}

#home .hero .hero-links #portfolio-link:hover svg {
  fill: #df050a;
}

@media screen and (max-width: 910px) {
  #home .hero {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

@media screen and (max-width: 395px) {
  #home .hero p {
    margin: 2.5rem;
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 370px) {
  #home .hero h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  #home .hero p {
    font-size: 1.4rem;
  }
}

#about {
  height: 100vh;
  min-height: 80rem;
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

#about .arrow {
  position: absolute;
  top: 45px;
  font-size: 3.6rem;
  color: #df050a;
}

#about .about-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .about-text-wrapper .profile {
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .about-text-wrapper .about-text {
  background: white;
  height: 100%;
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .about-text-wrapper .about-text h1 {
  padding-left: 5rem;
  padding-right: 3rem;
  padding-top: 5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .about-text-wrapper .about-text ul {
  padding-right: 5rem;
  padding-left: 7rem;
  margin-top: 3rem;
  padding-bottom: 6rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .about-text-wrapper .about-text ul li,
#about .about-text-wrapper .about-text ul a {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  line-height: 2.5rem;
}

#about .about-text-wrapper .about-text ul li {
  padding-top: 0rem;
  padding-left: 0.5rem;
  padding-bottom: 1.8rem;
  list-style-image: url(../img/list-style-bullets.png);
}

#about .about-text-wrapper .about-text ul a:hover {
  color: #df050a;
}

@media screen and (max-width: 725px) {
  #about .about-text-wrapper {
    width: 96%;
  }
  #about .about-text-wrapper .about-text {
    width: 50%;
  }
  #about .about-text-wrapper .profile {
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  #about {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    min-height: 130rem;
  }
  #about .about-text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin-top: 13rem;
  }
  #about .about-text-wrapper .profile {
    right: none;
    position: relative;
    max-height: 60rem;
    width: 45rem;
    margin-right: 0rem;
  }
  #about .about-text-wrapper .about-text {
    width: 45rem;
    margin-left: 0rem;
  }
}

@media screen and (min-width: 451px) {
  #about .arrow {
    display: none;
  }
  #about .dot-style {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #about {
    background: #f1b2ad;
    background: linear-gradient(120deg, #f6c4c0 0%, #f1b2ad 50%, #e7a9a5 100%);
  }
  .dot-style {
    position: absolute;
    bottom: 10px;
  }
}

@media screen and (max-width: 414px) {
  #about .about-text-wrapper {
    width: 94%;
  }
  #about .about-text-wrapper .profile {
    max-height: 60rem;
    width: 100%;
  }
  #about .about-text-wrapper .about-text {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  #about {
    min-height: 120rem;
  }
  #about .about-text-wrapper .about-text h1 {
    padding-left: 3rem;
    padding-right: 1rem;
    padding-top: 4rem;
    font-size: 2.5rem;
  }
  #about .about-text-wrapper .about-text ul {
    padding-right: 2rem;
    padding-left: 5rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
  }
}

#prices {
  height: 100vh;
  min-height: 95rem;
  background-image: url(../img/prices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#prices .arrow {
  position: absolute;
  top: 45px;
  font-size: 3.6rem;
  color: #df050a;
}

#prices .makeup-title {
  margin-top: 7rem;
  width: 45rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background: white;
  font-weight: 700;
  font-size: 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
}

#prices .price-list-wrap {
  background: white;
  margin-top: 2rem;
  width: 45rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
}

#prices .price-list-wrap .price-list {
  margin-top: 2.3rem;
}

#prices .price-list-wrap .price-list .break-line {
  width: 30rem;
  height: 2px;
  background: rgba(0, 0, 0, 0.199);
}

#prices .price-list-wrap .price-list .papildomi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#prices .price-list-wrap .price-list .papildomi ul {
  margin-top: 1rem;
}

#prices .price-list-wrap .price-list .papildomi ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

#prices .price-list-wrap .price-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.7rem;
}

#prices .price-list-wrap .price-list li p {
  font-family: "Josefin Sans", sans-serif;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}

@media screen and (min-width: 451px) {
  #prices .arrow {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #prices {
    background: #f1b2ad;
    background: linear-gradient(120deg, #f6c4c0 0%, #f1b2ad 50%, #e7a9a5 100%);
  }
}

@media screen and (max-width: 415px) {
  #prices .makeup-title {
    width: 95%;
  }
  #prices .price-list-wrap {
    width: 95%;
  }
}

#contact {
  height: 100vh;
  min-height: 90rem;
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#contact .arrow {
  position: absolute;
  top: 45px;
  font-size: 3.6rem;
  color: #df050a;
}

#contact #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50rem;
  margin-top: 16rem;
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}

#contact #form .date-and-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact #form .date-and-type #service-type {
  width: 50vw;
}

#contact #form .date-and-type #service-type #selected {
  color: #979797;
}

#contact #form .date-and-type #date {
  width: 50vw;
}

#contact #form input,
#contact #form select,
#contact #form textarea {
  margin: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  border: none;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
}

#contact #form .custom-select {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: 50vw;
  margin: 1rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
}

#contact #form .custom-select select {
  display: none;
  /*hide original SELECT element: */
}

#contact #form .select-selected {
  background-color: white;
}

#contact #form .select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

#contact #form .select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 9px;
}

#contact #form .select-items div,
#contact #form .select-selected {
  color: black;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

#contact #form .select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

#contact #form .select-hide {
  display: none;
}

#contact #form .select-items div:hover,
#contact #form .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#contact #form textarea {
  padding: 1rem;
  resize: none;
}

#contact #form input {
  padding: 0.5rem 1rem;
}

#contact #form button {
  margin: auto;
  margin-top: 2rem;
  padding: 1.4rem 4rem;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
}

#contact footer .foot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
  border-top: solid 3px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48rem;
  height: 4rem;
}

#contact footer .foot-wrap h2 {
  margin-right: 4rem;
  margin-top: 1rem;
  font-size: 12px;
  color: black;
}

#contact footer .foot-wrap .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
  margin-top: 1.5rem;
  height: 5px;
}

#contact footer .foot-wrap .social a {
  margin-left: 2rem;
}

#contact footer .foot-wrap .social a svg {
  fill: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#contact footer .foot-wrap .social a svg:hover {
  fill: #df050a;
}

@media screen and (max-width: 910px) {
  #contact {
    min-height: 80rem;
  }
  #contact #form {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 455px) {
  #contact {
    min-height: 80rem;
    background: #ecd5b6;
  }
  #contact footer .foot-wrap {
    width: 96vw;
  }
  #contact #form {
    width: 100vw;
    margin-top: 12rem;
  }
  #contact #form .date-and-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #contact #form .date-and-type #service-type {
    width: 50vw;
    -webkit-appearance: none;
    border: none;
    height: 4.5rem;
    background-color: white;
  }
  #contact #form .date-and-type #service-type #selected {
    color: #979797;
  }
  #contact #form .date-and-type #date {
    width: 50vw;
    -webkit-appearance: none;
    border: none;
    height: 4.5rem;
    background-color: white;
  }
  #contact #form .date-and-type #date ::-webkit-calendar-picker-indicator {
    color: black;
  }
  #contact #form .date-and-type #date ::-webkit-input-placeholder {
    content: "DATE";
  }
}

@media screen and (min-width: 451px) {
  #contact .arrow {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #contact {
    background: #f1b2ad;
    background: linear-gradient(120deg, #f6c4c0 0%, #f1b2ad 50%, #e7a9a5 100%);
  }
}

body {
  background: #1b1b1b;
}

.portfolio-head {
  background: #1b1b1b;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 30px 30px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  min-height: 9rem;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio-head a {
  margin-left: 10rem;
}

.portfolio-head a svg {
  fill: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio-head a svg:hover {
  fill: #df050a;
}

.portfolio-head h1 {
  font-size: 2.5rem;
  color: white;
  width: 100vw;
  text-align: center;
  margin-right: 6rem;
}

.pics-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.pics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5rem;
  max-width: 159rem;
}

.pics .pic {
  height: 530px;
  width: 355px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.pics .img-container:hover {
  cursor: pointer;
}

.pics .img-container:hover .pic {
  height: 550px;
}

.pics .img-container .description {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  background: #302f2f;
}

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1b1b1bc4;
}

.full-screen .exit {
  font-size: 3rem;
  background: none;
  margin-left: 2rem;
  margin-top: 7rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.full-screen .exit:hover {
  color: #df050a;
}

.full-screen .img-cont {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.full-screen .img-cont .pic {
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.full-screen .img-cont .description {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  background: #302f2f;
  width: 100%;
}

@media screen and (max-width: 1230px) {
  .pics {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 810px) {
  .portfolio-head a {
    margin-left: 2rem;
    padding-right: 2rem;
  }
  .portfolio-head h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .pics {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
  }
  .pics .pic {
    width: 95vw;
    height: 80vh;
    min-height: 60rem;
  }
  .pics .img-container:hover {
    cursor: initial;
  }
  .pics .img-container:hover .pic {
    height: 80vh;
  }
  .pics .img-container .description {
    margin-bottom: 24px;
  }
}

.thank-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.thank-wrap button {
  padding: 2.5rem 4rem;
  background: white;
  color: black;
}

.thank-wrap button:hover {
  background: #df050a;
}

.thank-you {
  color: white;
  font-size: 2rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  text-align: center;
  margin: 3rem;
  line-height: 3rem;
}

/* MOBILE */
/*# sourceMappingURL=style.css.map */